{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hierarchy</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="{%static 'js/datatable.js' %}"></script>
</head>
<body>
    <h1>Hierarchy</h1>
    <table id="hierarchyTable">
        <thead>
            <tr id="tableHeaders">
                <!-- Table headers will be populated by JavaScript -->
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Table body will be populated by JavaScript -->
        </tbody>
    </table>
</body>
</html>